  .about-skills{
    height: 400px; top: 200px;
    margin: auto;
    box-shadow: 0 0 5px -2px white;
  }
  .skills-main-circle{
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 0 2px 4px rgba(0, 0, 255, 0.427);
    animation: mainMove 40s infinite normal ease;
    animation-timing-function: linear;
  }
  .about-skills:hover ::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  .content-skill-main ::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
    border-radius: 10px;
  }
  .content-skill-main ::-webkit-scrollbar-thumb  {
    visibility: hidden;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(30, 29, 29, 0.642) 0%, #ffffff 50%, rgba(30, 29, 29, 0.642) 100%);
  }
  .skills-main-circle :nth-child(n){
    text-align: center;
    padding-top: 5px;
    color: white;
    animation: mymove 40s infinite normal ease;
    animation-timing-function: linear;
  }
  .skills-main-circle :nth-child(1){
    top: -20px; left: 140px;
    color: #ffcc00; font-weight: bold;
    text-shadow: 2px 4px 6px rgba(46,91,173,0.6);
  }
  .skills-main-circle :nth-child(2){
    top: 80px; left: 290px;
    color: rgb(252, 136, 27); font-weight: bold;
    text-shadow: 2px 4px 6px rgba(46,91,173,0.6);
  }
  .skills-main-circle :nth-child(3){
    top: 240px; left: 290px;
    color: rgb(71, 255, 246); font-weight: bold;
    text-shadow: 2px 4px 6px rgba(46,91,173,0.6);
  }
  .skills-main-circle :nth-child(4){
    top: 340px; left: 140px;
    color: red; font-weight: bold;
    text-shadow: 2px 4px 6px rgba(46,91,173,0.6);
  }
  .skills-main-circle :nth-child(5){
    top: 75px; left: -25px;
    color: rgb(0, 85, 255); font-weight: bold;
    text-shadow: 2px 4px 6px rgba(46,91,173,0.6);
  }
  .skills-main-circle :nth-child(6){
    top: 240px; left: -30px;
    color: black; font-weight: bold;
    text-shadow: 1px 1px 0px white, -1px -1px 0px white;
  }
  .content-skill-main{
    top: 250px;
    height: auto;
    z-index: 8;
  }
  .content-skill-main .buttons-skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .content-skill-main .skill-btn{
    width: 155px;
    height: 35px;
  }
  @keyframes mymove {
      from {transform: rotate(360deg);}
        to {transform: rotate(0deg);}
  }
  @keyframes mainMove {
      from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
  }

/* -------------contact form--------------- */
.form-container {
  max-width: 550px;
  background: linear-gradient(#000000, #000000) padding-box,
              linear-gradient(145deg, transparent 35%, #0000cc,#40c9ff, #ffd630) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #40c9ff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #40c9ff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #ffffff;
  color: black;
}
@media screen and (max-width: 650px) {
  .content-skill-main{
    transform: scale(0.9);
  }
  .content-skill-main .skill-btn{
    font-size: 15px;
    width: 100px;
  }
}
@media screen and (max-width: 768px) {
  .form-container {
    width: 95%;
  }
  .content-skill-main{
    width: 95% !important;
  }
  .content-skill-main{
    top: 100px;
  }
}



