@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&family=Share+Tech&display=swap');
.image-main{
    width: 100%;
    height: 700px;
    top: 63px; left: 0; right: 0;
    position: absolute;
    overflow: hidden;
}
.user-name{
    width: 580px;
    margin: auto;
    color: transparent;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: white;
    font-weight: bold;
    /* background-color: aqua; */
    padding: 15px 0;
}
.image-robot-container{
    width: 50%;
    height: 100%;
    /* overflow: hidden; */
}
.robot-anim{
    width: 700px;
    height: auto;
    margin-top: 40px;
}
.image-robot{
    width: 500px;
    height: 80%; margin-top: 70px; float: right;
    filter: drop-shadow(50px 10px 120px rgba(0, 0, 255, 0.427));
    position: relative;
    right: -1038px;
    z-index: 5; 
}
/* .image-robot-container::after{
    content: '';
    position: absolute;
    bottom: 100px; left: -500px;
    width: 150px; height: 80px;
    border-bottom: 13px solid #F3B532; border-right: 13px solid #F3B532;
    border-bottom-right-radius: 50px;
    -webkit-filter: drop-shadow( 3px 3px 10px #FFE6E6);
    filter: drop-shadow( inset 3px 3px 10px 20px rgb(255, 241, 81));
    animation: move-wire 1.5s ease-out 0.5s forwards;
} */
/* @keyframes move-wire {
    to{left: 0px};
} */
/* @keyframes move-image {
    to{right: -300px};
} */
.moving-anim{
    top: 0; left: -0px;
	transform: skew(-25deg);
	background: rgb(254, 253, 253);
}