@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&family=Share+Tech&display=swap');
.image-main{
    width: 100%;
    height: 650px;
    top: 60px; left: 0; right: 0;
    position: absolute;
    overflow: hidden;
}
.user-name{
    width: 590px; 
    margin: auto 0px;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
}
.image-robot-container{
    width: 50%;
    height: 100%;
}
.robot-anim{
    width: 700px;
    height: auto;
    margin-top: 40px;
}
@media screen and (max-width: 600px) {
  .robot-anim{
    transform: translateX(-25%);
  }
  .image-robot-container{
    width: 15%;
  }
  .user-name{
    width: 100% !important;
    padding: 0; 
    transform: translate(-10%, 50%);
  }
}
.image-robot{
    width: 500px !important;
    height: 600px !important; margin-top: 70px; float: right;
    filter: drop-shadow(50px 10px 100px rgba(0, 0, 255, 0.427));
    position: absolute;
    top: 80px !important;
    right: -1046px;
}
.greetingBox::-webkit-scrollbar {
  display: none;
}
.aboutme-box{
    float: left;
    margin: 0 5%;
    margin-top: 220px;
    padding-bottom: 50px;
    max-width: 800px;
    height: fit-content;
}
.line-main{
  top: 95px;
  width: 230px; height: 5px;
  border-radius: 50px;
  box-shadow: 0px 0px 12px rgb(0, 255, 255);
  transform: translateX(-280px);
  overflow: hidden;
  transition: transform 0.5s ease-out;
}
.scanner{
  left: 0%;
  width: 50px; height: 100%;
  border-radius: 50%;
  animation: scanner-loop 2.5s ease-in-out infinite;
  background: linear-gradient(to left, rgb(0, 255, 255), rgb(255, 255, 255, 1), rgb(0, 255, 255));
}
.aboutme-box:hover .line-main{
    transform: translateX(-40px);
  }

@keyframes scanner-loop
{
  0% 
  {
    left: 0;
  box-shadow: -5px 0 10px 0.7px white; 
  }
  100%
  {
    left: 100%;
  box-shadow: -5px 0 12px 2px white; 
  }
}
.gear-icon{
    font-size: 100px;
    top: -47px; right: -47px;
    filter: drop-shadow(0px 0px 100px rgb(0, 0, 255)) drop-shadow(0px 0px 100px rgb(0, 0, 255)) drop-shadow(0px 0px 70px rgb(0, 0, 255));
    transition: transform 0.5s ease-in-out;
}
.aboutme-box:hover .gear-icon{
    transform: rotate(-50deg) !important;
    transition: transform 0.5s ease-in-out;
}
.moving-anim{
    top: 0; left: -0px;
	transform: skew(-25deg);
	background: rgb(254, 253, 253);
}