@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root {
    
    font-size: 15px;
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;
    --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;
    --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;    
    --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;
}

img {
    width: 100%;
    border-radius: 15px;
    display: block;
}
.projectname {
    font: var(--var-heading);
    color: var(--var-lightest);
}

p {
    font: var(--var-para);
    color: var(--var-soft-blue);
}

span {
    color: white;
}
.card-container {
    width: 100%;
    max-width: 350px;
    margin: 60px 20px;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 2rem;
    box-shadow: -7px -7px 5px -8px white;
}
/* @media screen and (max-width: 720px) {
  .card-container {
    margin: 30px 10px;
  }
} */
a.hero-image-container {
    position: relative;
    display: block;
    height: 250px;
}
img.eye {
    position: absolute;
    width: 100%;
    max-width: 2em;
    top: 44%;
    left: 43%;
}

@media (min-width:400px) {
  img.eye {
    max-width: 3em;
}
}

.hero-image-container::after {
    content: '';
    background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-color: hsla(178, 100%, 50%, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.hero-image-container:hover::after {
  opacity: 1;
}
.button-color{
  cursor: pointer;
  padding: 22px 0 0 18px;
  border-top-left-radius: 15px;
  background-color:  rgb(17 24 39);
}
.button-color::before {
 content: ''; position: absolute; top: -30px; right: 0; z-index: -20;
  border-bottom-right-radius: 15px; box-shadow: 4px 5px 0px rgb(17 24 39);
 width: 30px !important; height: 30px;
 background-color: transparent;
}
.button-color::after {
 content: ''; position: absolute; bottom: 0; left: -30px; z-index: -20;
  border-bottom-right-radius: 15px; box-shadow: 4px 5px 0px rgb(17 24 39);
 width: 30px !important; height: 30px;
 background-color: transparent;
}
.technology-box{
  width: 50px; height: 5px; color: black;
  border-radius: 1rem; z-index: 10; background-color: black; opacity: 0.85;
  transition: height 0.4s, width 0.4s ease-out;
}
.techBoxFull{
  width: 100% !important;
  height: 100% !important;
  color: white !important;
}
@media (min-width:600px) {
    body {
        font-size: 18px;
    }
}
.info-button{
  /* width: 120px; */
  height: 40px;
  padding: 4px 17px;
  background: white;
  color: black;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.info-button:hover {
 color: white;
}
.info-button:after {
  content: "";
  background: black;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}
.info-button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }